/*---------------------------------------------*/
/* Start default MVC styles*/
/*---------------------------------------------*/

#warning {
    color: red;
    font-weight: bold;
}

a:link#details, a:visited#details, a:active#details {
    color: blue;
}

dd {
    margin-bottom: 10px;
}

div#pagelink a:link.link, a:visited.link, a:active.link {
    color: blue;
}

a:link#home, a:visited#home, a:active#home {
    color: blue !important;
}

.checkInSuccess {
    background-color: green;
    width: 300px;
    display: inline-block;
    height: 34px;
    color: white;
}

.checkInDuplicate {
    background-color: yellow;
    width: 300px;
    display: inline-block;
    height: 34px;
    color: black;
}

.checkInFailure {
    background-color: red;
    width: 300px;
    display: inline-block;
    height: 34px;
    color: white;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
  will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*---------------------------------------------*/
/* End of default MVC styles*/
/*---------------------------------------------*/

/*---------------------------------------------*/
/* Start of header(nav bar) and footer styles*/
/*---------------------------------------------*/

/* Nav bar */

.nav-link {
    color: white;
}

.navbar .navbar-nav {
    float: none;
    text-align: center;
    background-color: #212529;
    color: #0691F9;
    margin: 0px;
    font-size: 14px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    min-width: 140px;
    background-color: #212529;
    border-top: 1px solid #212529;
}

@media only screen and (max-width: 768px) {
    div.dropdown-menu {
        text-align: left;
        position: relative;
        width: 100%;
        font-size: 15px;
        align-content: center;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding-left: 23%;
        border-bottom: 0.5px solid white!important;
    }
}

.navbar-header {
    background-color: #212529;
}

div.navbar-collapse.collapse.in, .navbar-collapse {
    padding: 0px;
    border-top: 1px solid #212529;
}

.navbar-brand {
    text-decoration: none;
}

.fixedNav .nav-container {
    position: fixed;
    top: 0;
    background-color: #D3D3D3;
    width: 100%;
}

ul.nav li.dropdown:hover div.dropdown-menu {
    display: block;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #212529;
    border-color: #212529;
}

.containerFORnav{
    width: 100%;
    padding: 0px;
}

.active {
    background-color: #0691F9;
}

.navbar-nav > li > a {
    color: #D3D3D3;
}

.navbar-nav > li > a:hover {
     color: white;
     background-color: #212529;
}

.navbar-nav > li > a:focus {
     background-color: #212529;
}

.dropdown-menu > a:hover {
      color: white;
}

.dropdown-menu > a {
    color: #D3D3D3;
    margin-left: 2px;
}

.dropdown-divider {
    margin-bottom: 14px;
}

a {
    /*color: white;*/
    outline: 0;
}

.icon-bar {
    background-color: white;
}

/* Images */
.logo2 {
    height: 50px;
    width: 50px;
}

.logo1 {
    height: 25px;
    width: 100px;
}

/* Footer */

footer {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    width: 100%;
    bottom: 0;
}

.foots {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: white;
    color: #212529;
    text-align: left;
    width: 100%;
    padding: 0px;
}

.footText {
    font-size: 25px;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    background-color: transparent;
}

#container {
    width: 100%;
    text-align: center;
}

#left {
    float: left;
    width: 50px;
    margin-left: 5px;
}

#center {
    display: inline-block;
    margin: 0 auto;
    width: 100px;
}

#right {
    float: right;
    width: 185px;
}

/*---------------------------------------------*/
/* End of header(nav bar) and footer styles*/
/*---------------------------------------------*/