
<div class="map">
    @*<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyA0C1LPhGrh_jgCTNU0blCVCFfeJmRZCbo'></script>*@
    <div style='overflow:hidden;height:350px;width:100%;'>
        <div id='gmap_canvas' style='height:100%;width:520px;'></div>
        <style>
            #gmap_canvas img {
                max-width: none !important;
                background: none !important;
                visibility: visible !important;
            }
        </style>
        <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=c55cd61f08514ba52d0b28d793953517c0185723'></script>
        <script src="~/Scripts/DisplayMap.js" type="text/javascript"></script>
    </div>

    <a href='http://casinos-1.com'>.</a>

</div>