@model Events4All.Web.Models.EventsViewModel

<script>
    var text="Check out this event on events4all.com: @Html.DisplayFor(model => model.Name) is happening on @Html.DisplayFor(model => model.TimeStart) "

    function tweetCurrentPage() {
      window.open('https://twitter.com/share?url=' + escape(window.location.href) + '&text=' + text,
      'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
       return false;
    }

    function SendLinkByMail(href) {
        var subject = "Check out this event!";
        var body = text + "\r\n\r\n";
        body += window.location.href;
        body += "\r\n\r\n";
        var uri = "mailto:?subject=";
        uri += encodeURIComponent(subject);
        uri += "&body=";
        uri += encodeURIComponent(body);
        window.open(uri);
    }
</script>

<span id="right">
    Share Event:&nbsp;
    <a href="https://facebook.com/share" target="_blank">
        <img title="facebook" src="https://img.icons8.com/metro/26/000000/facebook.png">
    </a>
    <a href="" onclick=tweetCurrentPage();>
        <img title="twitter" src="https://img.icons8.com/metro/26/000000/twitter.png">
    </a>
    <a href="javascript:(function()%7BSendLinkByMail()%3B%7D)()%3B">
        <img title="email" src="https://img.icons8.com/windows/32/000000/message-group.png">
    </a>
</span>
