<!DOCTYPE html>
<html>
<head>
    <title>Event Info : {{Name}}</title>
    <meta charset="utf-8" />
</head>
<body>
    Event : {{Name}}<br />
    Address : {{Address}}, {{City}}, {{State}} {{Zip}}<br />
    Time : {{TimeStart}}<br />
    Number Of Ticket: {{Ticket}}<br />
    <a href="http://localhost:60069/Participants/RegistrationConfirmationPrint/{{participantID}}">Print Your Ticket</a>
    <a href="http://localhost:60069/Events/SelectCalendarEmail/{{eventID}}">Add to Calendar</a>
</body>
</html>