@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Encouraging growth through shared experiences</h2>
<br />
<br />
<p>
    Events4All is a community hub for diverse experiences, creativity and connection.
    Whatever your passion, our mission is to provide a platform to create, share, find and attend events.
    Get out of your comfort-zone and explore lifes possibilities.

</p>

<h3>Contributions</h3>
<p>Cleveland Codes Cohort 7 </p>
Sam Nasr<br />
James Hoster<br />
Lynn Hillow<br />
Erika Pearson<br />
Ben Sherman<br />
Andrew DiBacco<br />
Gary Anderson<br />
Paul Mosher<br />
Tien Baldwin<br />
Orcun Cakiroglu<br />
David McClelland<br />

<br />
<p>&copy;Cuyahoga Community College 2019</p>