@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<div>
    <h2>For any support or marketing inquiries please get in touch.</h2>
</div>
<address>
    2415 Woodland Ave.<br />
    Cleveland, OH 44111<br />

    Cuyahoga Community College
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Events4AllCC7@gmail.com">Contact Our Support Team</a><br />
    <strong>Marketing:</strong> <a href="mailto:Events4AllCC7@gmail.com">Contact Our Marketing Team</a>
</address>